* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
}

.hero, .footer {
    background-color: #1F2937;
} 

.hero {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}

.header {
    display: flex;
    margin-bottom: 50px;
    padding-top: 10px;
}

.header-logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    margin-left: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.header li {
    margin: 0px 8px;
}

.header a,
.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.header li a {
    text-decoration: none;
}

.media {
    display: flex;
    align-items: center;
    gap: 16px;
}

.media-content {
    flex: 1;
}

.media-image {
    max-width: 100%;
}

.media-image img {
    max-width: 350px;
}

.media h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;    
    border-radius: 5px;
    padding: 6px;
}

.info {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
}

.card img {
    max-width: 120px;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
}

.card p {
    text-align: center;
}

.quote {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 0px;
}

.quote .author {
    align-self:flex-end;
    font-size: 24px;
    font-weight: bold;
}